workspace
sandbox

# Node
uah/*/node_modules

# Mac 
.DS_Store
aniot/.DS_Store
uah/.DS_Store
tutorial/.DS_Store

# 2n level
aniot/*/.DS_Store
uah/*/.DS_Store
tutorial/*/.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf
# Libraries
*.lib
*.a
# Shared objects (inc. Windows DLLs)
*.dll
*.so
# Executables
*.exe
*.out
*.hex
# Debug files
*.idb
*.pdb
